body{
    font-family: 'Inter', sans-serif;
}
.hero-100{
    min-height: 90vh;
    display: block;
    background-image: url('../image/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-red{
    height:40px;
    padding: 9px 0px;
    width:40px;
    text-align: center;
    border-radius: 100px;
    background-color: #f55894;
    color: #ffe9a7;
}
.icon-blue{
    height:40px;
    padding: 8px 0px;
    width:40px;
    text-align: center;
    border-radius: 100px;
    background-color: #007de8;
    color: #ffe9a7;
}
.icon-purple{
    height:40px;
    padding: 8px 0px;
    width:40px;
    text-align: center;
    border-radius: 100px;
    background-color: #6c66ec;
    color: #ffe9a7;
}
.icon-green{
    height:40px;
    padding: 8px 0px;
    width:40px;
    text-align: center;
    border-radius: 100px;
    background-color: #00a496;
    color: #ffe9a7;
}
.yellow-line{
    width:10%;
    border:5px solid #ffc71f;

}
.card {
    height: 100%;
}
.card-body {
    height: 100%;
}
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#000000;
}
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
} 
.footer-basic .social > a:hover {
    opacity:0.9;
} 
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
.full-bg {
    display:flex;
    background-image: url('../image/bgregis.png');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.regist-box {
    background-color: rgba(255,255,255,0.4);
    border-radius: 25px;
    padding: 2rem 1rem;
}
.form-input {
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgb(28, 28, 28);
    border-radius: 8px;
    width:100%;
}
.form-btn {
    background-color: #4b72c2;
    padding: 5px 30px;
    border-radius: 8px;
}
.login-input {
    padding: 5px 10px;
    background-color: rgba(255,255,255,0);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    width:100%;
}
.login-btn{
    background-color: white;
    color: #3256c5;
    padding: 5px 30px;
    border-radius: 8px;
    width: 100%;
}
.btn-kiloan {
	background-color: #2e5b9e;
	color: white;
}
.btn-sameday {
	background-color: #3a72c5;
	color: white;
}
.btn-dry {
	background-color: #82acea;
	color: white;
}
.overlay {
	background-color: rgba(255,255,255,0.4);
	border-radius: 15px;
	padding:1rem;
}
.form-services{
    background-color: #2e5b9e;
    border: 1px solid black;
    color: white;
}
.form-services:focus{
    background-color: #007de8;
    border: 1px solid black;
    color: white;
}
.form-services::placeholder{
    color: rgb(226, 226, 226);
}